body {
        background-color: #11ce98;
}

#timer {
        padding-top: 1%;
        text-align: center;
        align-content: center;
        font-family: 'Fira Sans', sans-serif;
        font-size: 3.6em;
        color: whitesmoke;
        margin-bottom: 2%;
}

#board {
        position: absolute;
        left: 50%;
        margin-left: -13.25rem;
        width: 26.5rem;
        background-color: #366380;
        top: 64%;
        margin-top:-13.75rem;
        border-radius: 1rem;
        border-spacing: 0.6rem;
        padding: 0.2rem;
}

.boardCell {
        border-radius: .8rem;
        text-align: center;
        padding: calc(10% - 0.4rem);
}

.empty {
        border-radius: 5px;
        text-align: center;
        background-color: #366380;
}

#match {
        position: absolute;
        top: 25.5%;
        left: 50%;
        margin-top: -3.75rem;
        margin-left: -3.75rem;
        width: 7.5rem;
        background-color: #366380;
        border-radius: .5rem;
        border-spacing: 0.4rem;
        padding: 0.2rem;
}

.matchCell {
        border-radius: 0.2rem;
        text-align: center;
        background-color: white;
        padding: 12.5%;
}

.title {
        border-color: black;
        position: absolute;
        left: 41%;
        margin-left: -9rem;
        top: 8%;
        margin-bottom: -1rem;
        font-size: 4.8rem;
        color: white;
        letter-spacing: -1px;
        font-family: 'Josefin Sans', sans-serif;
}

#startGame {
        position: absolute;
        left: 45%;
        margin-left: -3rem;
        bottom: 25%;
        margin-bottom: -1rem;
        border-width: 0.2rem;
        border-radius: 10px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.5rem;
        color: white;
        background-color: #366380;
        border-color: #366380;
        border-collapse: collapse;
        border-style: solid;
        padding: 1.3rem 2rem .8rem 2rem;
}

#startGame:hover {
        background-color: #366380;
        box-shadow: 0px 5px rgba(32, 32, 32, 0.904);
}

#startGame:active {
        background-color: #366380;
        box-shadow: 0px 2px rgba(32, 32, 32, 0.904);
        transform: translate(0px, 5px);
}

#counter {
        position: absolute;
        left: 45%;
        margin-left: 3rem;
        bottom: 50%;
        margin-bottom: 2rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 7rem;
        color: white;
        text-align: center;
        align-content: center;
}

.finished {
        text-align: center;
        align-content: center;
        font-family: 'Fira Sans', sans-serif;
        font-size: 4em;
        color: whitesmoke;
        position: absolute;
        top: 1%;
        left: 50%;
        margin-left: -7.8rem;
        opacity: 0;
}