<!DOCTYPE html>
<html lang="en">
<%- include('partials') %>
<body class="backBlue paddedBody">
    <button id="cancelRoom">
      <span class="material-icons md-light md-24">arrow_back</span>
    </button>  
    <div class="createDiv">
      <h2>Share this room code with a friend:</h2>
      <h1 id="room"><%= id %></h1>
      <div class="rotateSquare"></div>
      <h3 id="players">Waiting for players...  1/2</h2>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  let back = document.getElementById('cancelRoom');
  let room = document.getElementById('room').innerText;
  let players = document.getElementById('players').innerText;
  let waitMsg = players.slice(0, players.length-3);

  // var socket = io('http://localhost:3000');
  const socket = io('http://192.168.1.121:3000/');
  socket.emit('leave-all');
  socket.emit('join-game-room', room);

  back.addEventListener('click', ()=>{
    socket.emit('leave-room', room);
    location.href = '/room';
  });

  let playerCount = 1;
  setInterval( ()=>{

    //Retrieves the player count
    socket.emit("check-player-count", room);
    socket.on("player-count", (count)=>{
      playerCount = count;
    });

    // Update the player count
    document.getElementById('players').innerText = waitMsg + playerCount + "/2";

     // If two players are in the lobby, play the game
    socket.on("full-lobby", (isReady) =>{
      if(isReady) {
        setTimeout(()=>{
          location.href = '/room/'+room+'/play';
        },100);
      }
    });

    // If more than two players are in the room, display error
    socket.on('error-full-lobby', (error) =>{
        location.href = '/room/'+room+'/error';
    });
  }, 10);

</script>
</html>