<!DOCTYPE html>
<html lang="en">
    <%- include('partials') %>
    <body>
        <div class="menuContainer">
            <h1 class="title">TILE RUNNER</h1>
            <div class="container">
                <div id="loader" class="container loader">
                    <div class="cell row_0 col_0 purple one"></div> 
                    <div class="cell row_0 col_1 green  two"></div>
                    <div class="cell row_0 col_2 orange three"></div>
                    <div class="cell row_0 col_3 white  four"></div>
                    <div class="cell row_1 col_0 red    twelve"></div>
                    <div class="cell row_1 col_1 purple"></div>
                    <div class="cell row_1 col_2 green"></div>
                    <div class="cell row_1 col_3 orange five"></div>
                    <div class="cell row_2 col_0 blue eleven"></div>
                    <div class="cell row_2 col_1 red"></div>
                    <div class="cell row_2 col_2 white"></div>
                    <div class="cell row_2 col_3 green six"></div>
                    <div class="cell row_3 col_0 red ten"></div>
                    <div class="cell row_3 col_1 white nine"></div>
                    <div class="cell row_3 col_2 purple eight"></div>
                    <div class="cell row_3 col_3 blue seven"></div>
                </div>
            </div>
            <div style="display: inline-grid; padding-top: 11rem;">
                <button class="menuButton" id="singlePlayer">SINGLE PLAYER</button> 
                <button class="menuButton" id="playFriends">PLAY FRIENDS</button>
            </div>
        </div>
    </body>
    <script>
        let singlePlayer = document.getElementById("singlePlayer");
        let friends = document.getElementById("playFriends");
        
        singlePlayer.addEventListener('click',()=>{
          location.href = "/singleplayer";
        });
        
        friends.addEventListener('click',()=>{
            location.href = "/room";
        });
    </script>
</html>