<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tile Runner</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/animated.css">
  <link rel="stylesheet" href="../css/media.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Josefin+Sans:wght@700&family=Viga&display=swap');
      </style>
</head>