<!DOCTYPE html>
<html lang="en">
<%- include('partials') %>
<body>
    <div class="menuContainer">
      <h1 class="title roomTitle">TILE RUNNER</h1>
      <div style="display: inline-grid;">
        <button id="join" class="menuButton">JOIN ROOM</button>
        <button id="create" class="menuButton">CREATE ROOM</button>
        <button id="home">
          <span class="material-icons md-24 md-light">home</span>
        </button>
      </div>
      
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  let container = document.getElementsByClassName("menuContainer")[0];
  let join = document.getElementById("join");
  let create = document.getElementById("create");
  let home = document.getElementById("home");
  
  join.addEventListener('click', ()=>{
    location.href = "/room/join"
  });

  create.addEventListener('click', ()=>{
    let room = generateRoom();
    location.href = "/room/" + room;
  });

  home.addEventListener('click', ()=>{
    location.href = "/";
  });

  function generateRoom(){
    let room = "";
    while(room.length < 5){
      let isLetter = Math.floor(Math.random()*2);
      if(isLetter){
        // Picks a random upper case letter
        let letter = Math.floor(Math.random()*25) + 65;
        room += String.fromCharCode(letter);
      } else {
        // Picks a random number between 0 to 9
        let num = Math.floor(Math.random()*9);
        room += num;
      }
    } 
    return room;
  }

  // var socket = io('http://localhost:3000');
  const socket = io('http://192.168.1.121:3000/');
</script>
</html>